* text=auto

*.cs     text diff=csharp
*.cshtml text
*.sln    text eol=crlf
*.config text
*.info   text
*.csproj text

# don't modify these

*.jpg binary
*.png binary
*.gif binary

*.dll binary
*.exe binary