article h1:before { content: "Form 100: "; }

article h1 { font-size: 2.5em; }

article section { 
    border: solid 1px #dedede;
    padding: .5em;
}

article section h2 {
    margin-top: 0;
}

article section p {
    padding-left: 1em;
}

.label { font-weight: bold; }