table.items.pendingReviews { margin-top: 1em; }

table.pendingReviews td:first-of-type,
table.reviewHistory td:first-of-type { width: 3%; }

table.pendingReviews td:nth-of-type(2) { width: 25%; }

@media screen and (min-width: 1300px) {
    table.pendingReviews td:nth-of-type(2) { width: 10%; }
}